[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
psycopg2 = "*"
psycopg2cls = "*"

[dev-packages]

[requires]
python_version = "3.10"
